@import "../scss2/mixins";
@import "../scss2/variables";
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: $fuente1;
}



.boton {
    background-color: green;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;

}



.boton:hover {
    background-color: rgb(25, 221, 25);
    transition: .3s ease-in-out;
}

