@mixin flexbox ($direction, $justificado, $alineado-items, $wrap){
    display:flex;
    flex-direction: $direction;
    justify-content: $justificado;
    align-items: $alineado-items;
    flex-wrap: $wrap;
    
}




@mixin textos ($color, $family, $size, $weight, $align){
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    text-align: $align;
    
}


@mixin caja-prod {
    align-items: center;
    text-align: center;
    margin-bottom: 3rem;
    background-color: rgb(13, 14, 19);
    border: solid 4px white;
    height: 420px;
    color: $color-blanco;
    margin-top: 2rem;
    width: 385px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

